@media(min-width: 1024px) {
    .mobile-main-wrapper{
        display: none;
    }
    .logo{
        display: block;
    }
    #search-logo{
        display: flex;
        align-items: center;
    }
    .logo > .search{
        border: 1px solid rgba(196, 196, 196, 0.5);
        border-radius: 30px;
        width: 404px;
        height: 65px;
        display: grid;
        align-items: center;
        padding-left: 1rem;
        margin-left: 2rem;
    }
    .logo > .search form i{
        font-weight: lighter;
        font-size: 1.5rem;
        color: #C4C4C4;
    }
    .logo > .search form input{
        padding: 1rem .4rem;
        border: none;
    }
    .logo > .search form input:focus{
        outline: none;
    }
    .logo > .search form input::placeholder{
        font-size: 16px;
        font-weight: 400;
        font-family: 'poppins';
    }
    /* nav{
        display: block;
    } */
    .main-wrapper{
        display: block;
        padding: 5.4rem 0 0 5rem;
    }
    #remove-padding{
        padding-top: 1rem;
    }
    .mobile-nav{
        display: none;
    }
    .main-content{
        /* display: flex;
        width: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: min-content;
    }
    .desktop-nav{
        display: block;
        opacity: 1;
        position: relative;
    }
    #lines{
        margin-top: 4rem;
    }
    .lines{
        position: relative;
        display: block;
    }

    .side-content{
      
        position: absolute; 
        left: 200px;
        display: grid;  
        align-items: center;
        margin: 4rem 4rem;
        grid-template-columns: 100%;
    }
    #home-side-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    

    .category-cards-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }

    .hot-bids-main-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }


    /*-----Explore Arts-----*/
    .explore-desktop{
        display: flex;
        flex-direction: column;
    }
    .explore-header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: min-content;
        width: 100%;
        left: unset;
    }
    .explore-heading{
        margin-top: 1rem;
    }
    
    .image{
        width: 100%;
        height: 200px;
        /* background: rgba(0, 0, 0, 0.05);; */
    }

    .explore-options{
        /* padding: 1rem; */
        /* display: grid; */
        grid-template-columns: 200px 250px auto;
        /* row-gap: 1rem; */
        align-items: center;
        gap: 0;
        border-top: 1px solid #C4C4C4;
    }
    .explore-border{
        width: 131px;
    }
    .explore-recently-added{
        display: grid;
        justify-content: end;
    }
    fieldset{
        width: 180px;
    }
}


@media(max-width: 768px) {
    /* .category-cards-wrapper , .hot-bids-main-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
    
}