@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins';
}
a{
    text-decoration: none;
    color: unset;
}
.main-wrapper{
    /* padding: 1rem; */
    /* display: none; */
}
.logo{
    margin-left: 3rem;
    font-size: 20px;
    font-weight: 700;
    display: none;
}
.main-content{
    /* display: flex;
    width: 100%; */
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* width: min-content; */
}
.desktop-nav{
    margin-top: 3rem;
    /* display: none; */
    position: absolute;
    /* display: none; */
    top: 0;
    opacity: 0;
    background: white;
    font-weight: 800;
    transition: 0.5s ease;
    height: 100vh;
}
.side_nav_opacity{
    opacity: 0.9;
}


.lines{
    position: relative;
    display: none;
}
.lines > div{
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 7px auto;
}

.nav-links{
    position: relative;
    margin-top: 2rem;
}
.nav-links li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'poppins';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
.link{
    padding: 2rem;
    margin-top: 1rem;
}

.rotate{
    transform: rotate(90deg);
    list-style: none;
    top: 100px;
}

.side-content{
    /* position: absolute; */
    /* left: 200px; */
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    /* margin: 4rem 4rem; */
}
.side-content-wrapper{
    /* display: grid;
    grid-template-columns: 100%;
    width: max-content; */
}
#home-side-content{
    display: none;
}
.house-of-groove{
    font-style: italic;
    font-size: 8px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin-left: 4rem;
}

.banner{
    width: 780px;
    height: 260px;
}
.banner > img{
    width: 100%;
    height: 100%;
}



/*-----Mobile Homepage-----*/
.mobile-main-wrapper{
    margin-top: 0;
}
.mobile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.right-nav{
    display: flex;
    align-items: center;
}
.house-of-groove-mobile > span{
    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 1.5rem;
}
.mobile-hamburger{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding-top: 14px;
    
}
.mobile-hamburger > div{
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1px auto;
}
.mobile-search{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}
.mobile-search > i{
    font-size: 1rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.2);
}
.mobile-main-wrapper > .banner-mobile{
    width: 60%;
    margin: 1rem auto;
    
}
.mobile-main-wrapper > .banner > img{
    width: 100%;

}



/*-----Categories-----*/
.heading{
    margin: 1rem 1rem .3rem 1rem;
    font-size: 16px;
    font-weight: 700;
}
.category-cards-wrapper{
    display: grid;
    grid-template-columns: 100% ;

}
.category-card{
    /* border: 1px solid red; */
    margin: 1rem;
    height: 303px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    /* border-radius: 0px 0px 34.1837px 34.1837px ; */
}
.category-card > .card-image{
    /* width: 80%; */
    /* margin: 0 auto; */
    /* background-color: #FFD700; */
    padding: 2rem 2rem 0 2rem;
    display: flex;
    align-items: flex-end;
    /* height: 250px; */
    border-radius: 34.1837px 34.1837px 0px 0px;
}
.category-card > .card-image > img{
    width: 100%;
}
.category-card > .card-text{
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 1.13946px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-radius:  0px 0px 34.1837px 34.1837px;
}


/*-----Hot Bids-----*/
.hot-bids-main-wrapper{
    display: grid;
    grid-template-columns: 100%;
}
.hot-bids-card-wrapper{
    margin: 1rem;
    border: 0.931284px solid rgba(196, 196, 196, 0.5);
    border-radius: 46.5642px;
    padding: 1rem;
}
.hot-bids-card{
    /* margin: 1rem; */
    padding: 1rem;
    border: 1px solid;
    border: 0.931284px solid rgba(196, 196, 196, 0.5);
    border-radius: 46.5642px;
    box-shadow: 0px 3.72514px 3.72514px rgba(0, 0, 0, 0.25);
}
.card-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    /* width: fit-content; */
}
.card-header-left, .card-header-right{
    display: flex;
    /* justify-content: space-between; */
}
.card-header-right{
    justify-content: end;
}
.card-header-image{
    width: 37.25px;
    height: 37.25px;
}
.card-header-image > img{
    width: 100%;
}
.card-header-text{
    margin-left: .7rem;
    font-size: 10.2441px;
    font-weight: bold;
    color: #C4C4C4;
    /* display: grid; */
}
.card-header-text .span-2{
    font-size: 12.1067px;
    color: #000000;
    margin-top: .6rem;
}
.divider{
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.divider > div{
    height: 24.21px;
    background-color: #C4C4C4;
    width: 2px;
}


.hot-bids-main-wrapper{
    display: grid;
    grid-template-columns: 100%;
}
.hot-bids-card .card-image{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}
.hot-bids-card .card-image > img{
    width: 100%;
}

.hot-bids-price{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 1rem;
}
.hot-bids-price > .price{
    display: flex;
    font-size: 12.11px;
    width: max-content;
}
.hot-bids-price > .equals{
    font-size: 12.11px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #000000;
}
.hot-bids-price > .amount{
    font-size: 12.11px;
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.hot-bids-card-footer{
    /* margin: 1rem; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.931284px solid rgba(196, 196, 196, 0.5);
    border-radius: 4.65642px 4.65642px 37.2514px 37.2514px;
    height: 54.01px;
}
.view-history{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.history-text{
    font-size: 10.24px;
    margin-left: .45rem;
}
.place-bid{
    font-size: 10.24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 4.65642px 4.65642px 37.2514px 4.65642px;
    padding: .5rem 2rem;
}



/*-----Explore Arts-----*/
.explore-desktop{
    display: none;
}
.explore-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid; */
    min-height: 313px;
    margin: 0;
    padding: 0;
}
.image-holder{
    height: 100%;
    /* background-color: #000000; */
}
.image{
    width: 100%;
    height: 90%;
    /* background: rgba(0, 0, 0, 0.05);; */
}
.image > img{
    width: 100%;
    height: 100%;
}
.explore-mobile{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr; */
}

.explore-heading{
    text-align: center;
}


.explore-options{
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
}
.explore-options span{
    font-size: 14px;
    font-weight: bold;
    margin-left: .4rem;
}
.explore-border, fieldset{
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    height: 41px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.explore-border > a, fieldset > div{
    display: flex;
    align-items: center;
}
.explore-price{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.recent{
    display: grid;
    justify-content: end;
}
.recent > a{
    color: #117BFD;
    font-size: 14px;
    font-weight: 500;
}
fieldset{
    height: 50px;
}
fieldset > legend{
    font-size: 11px;
    font-weight: 500;
    color: #C4C4C4;
}


/*-----Investment-----*/
.investment{
    padding: 2rem;
}
.investment-header{
    display: grid;
    grid-template-columns: 100%;
}
.investment-header-left{
    width: 100%;
}
.investment-header-left > img{
    width: 100%;
}

.investment-heading > h2{
    font-size: 28px;
}
.investment-heading > p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}


.investment-header-right{
    
}
.invesment-tabs{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    justify-content: space-between;
    /* width: max-content; */
    row-gap: 1.5rem;
    
}
.right-border{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.right-border > div{
    width: 1px;
    background-color: #C4C4C4;
    height: 50px;
}
.display{
    display: none;
}
.invesment-tabs .tab > p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.investment-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1rem .5rem;
    background-color: #117BFD;
    border-radius: 5px;
}
.investment-button > a{
    font-size: 14px;
    color: #FFFFFF;
}

.investment-cards{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
    margin-top: 2rem;
}
.card{
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: space-between; */
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1rem;
    height: 216px;

}
.i-card-text {
    font-size: 13px;
    line-height: 24px;
    margin-left: .6rem;
}



/*-----How it works-----*/
.how-it-works-desktop{
    display: none;
}
.how-it-works-mobile{
    display: block;
}
.info{
    display: flex;
    /* position: relative;  */
 }

/* .info-1-text{
    position: absolute;
    display: flex;
    justify-content: flex-start;
} */





/*-----Contact-----*/
.contact-wrapper{
    width: 100%;
    display: grid;
    place-content: center;
}
.contact{
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 10rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 100%;
}
.contact-card{
    display: grid;
    grid-template-rows: min-content min-content;
    justify-content: center;
    align-content: center;
    height: 319px;
    background: #FFD700;
    border-radius: 20px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    margin-top: -8rem;
}
.contact-heading{
    font-size: 28px;
}
.contact-info > div{
    margin-top: 1rem;
}
.contact-info > div > a, .contact-info > div > i{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}
.contact-form{
    margin-top: 2rem;
}
.contact-form form > div{
    margin-top: 1rem;
} 
.contact-form form > div > input{
    height: 41px;
}
.contact-form form > div > input, .contact-form form > div > textarea{ 
    width: 100%;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 20px;
    border: none;
}
.contact-form form > div > input::placeholder,
.contact-form form > div > textarea::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem;
    font-family: 'poppins';
}
.contact-form form > div > input:focus,
.contact-form form > div > textarea:focus{
    outline: none;
}
.form-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upload-file a{
    display: flex;
    align-items: center;
}
.upload-file a span{
    font-size: 14px;
    margin-left: .5rem;
}
.form-button > button{
    background-color: #117BFD;
    border: none;
    border-radius: 20px;
    height: 41px;
    width: 120px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}



/*-----About-----*/
.about{
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
}
.about-img{
    margin-top: 1rem;
}
.about-img > img{
    width: 100%;
}

